{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}
    {% if session["logged_in"] %}
        {{book.title}}
        {{book.year}}
        {{book.isbn}}
        {{book.author}}
        {{json['average_rating']}}
        {{json['work_ratings_count']}}
        <p>
            {{json}}
        </p>
    {% else %}
    <div class="logged_out">
        You currently do not have access to this page. <a href = "{{ url_for('login') }}">Login to gain access!</a>
    </div>
    {% endif %}
{% endblock %}