{% extends "layout.html" %}

{% block heading %}
    Register
{% endblock %}

{% block body %}
<div class="container col-3">
    <form action="{{ url_for('hello') }}" method="post">
        <input class="form-control mr-sm-2" type="text" placeholder="Enter username" name="name">
        <input class="form-control mr-sm-2" type="password" placeholder="Enter password" name="password">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Register</button>
        <button class="" type="submit">Register</button>
    </form>
<div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
