<!DOCTYPE html>
<html>
    <head>
        <title>Topic Name</title>
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> {{var}} <h1/>
            {% if condition %}
                <ol>
                    <li> Testing </li>
                    <li> Gamers </li>
                </ol>
            {% else %}
                <h1> Yeet </h1>
            {% endif %}

        <h1> Sectioning </h1>
            {% for name in names %}
                <li> {{ name }} </li>
            {% endfor %}
        <a href="{{ url_for('link') }}">Linking</a>
        <h1> hello {{input}} </h1>
    </body>
</html>
